.footer {
    max-width: calc(100% - 200px * 2);
    padding: 0 0 60px 200px;
}

@media screen and (max-width: 1050px) {
    .footer {
        max-width: 80%;
        margin: 0 auto;
        padding: 0 0 54px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 90%;
        padding: 0 0 48px;
    }
}

@media screen and (max-width: 424px) {
    .footer {
        max-width: calc(100% - 19px * 2);
        padding: 0 auto 36px 19px;
    }
}