.popup__image-caption {
    font-size: 12px;
    line-height: calc(15 / 12);
    color: #fff;
    position: absolute;
    bottom: -10;
}

@media screen and (max-width: 767px) {
    .popup__image-caption {
        max-width: 75vw;
    }
}